.typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.typed-fade-out {
  opacity: 0;
  animation: 0;
  transition: opacity 0.25s;
}

.my-button:hover,
.cta .cta-button:hover,
.details a:hover {
  transform: scale(1.1);
  transition: transform 0.2s;
}

*:hover {
  transition: all 0.3s ease-in-out;
}

.fade-in {
  opacity: 0;
  transform: translateY(50px);
  visibility: hidden;
  transition: opacity 0.6s ease, transform 0.6s ease;
  will-change: opacity, transform;
}

.is-visible {
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
}
